@import "compass/reset";

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {
  background: #fff;
  right: 10px;
  font-size: 16px;
  color: #333;
  font-family: "Droid Sans","helvetica-neue","Helvetica", Arial, sans-serif;
  background: url(http://assets.javierarce.com/img/bkg_top.png) repeat-x;
  line-height: 23px;
}

p {
  padding-bottom: 10px;
  line-height: 25px;
  & > p { padding-bottom: 0 }
}
ol,ul li {
  list-style: disc;
  padding: 0 0 18px 5px;
  margin-left: 18px
}
caption,th,td {
  text-align: left;
  font-weight: normal
}
article {
  position: relative;
}
article .note {
  position: absolute;
  display: none;
  width: 480px;
  top: 0;
  left: 0;
  padding: 10px;
  background: #f1f1f1;
  z-index: 1000;
}
article.quote .source {
  margin: 15px 20px 0 0;
  text-align: right;
}
article.quote .source p {
  display: none;
}
article.link blockquote {
  margin: 0 0 10px 0;
  padding: 4px 0px;
  font-size: 18px;
  line-height: 28px;
  font-style:italic;
}
article.quote blockquote,q {
  quotes: """"
}
article.quote blockquote:hover {
  background: #F2F66A;
  color: #333;
}
article.quote blockquote a:hover {
  color: #333;
}
article.quote blockquote {
  margin: 0 0 10px 0;
  padding: 4px 0px;
  font-size: 18px;
  line-height: 22px;
  display: inline;
  background: #F4F6B2;
  box-shadow: .25em 0 0 #F4F6B2, -0.25em 0 0 #F4F6B2;
}
article.quote blockquote,article.quote blockquote a {
  font-weight: normal;
  line-height: 35px;
}
article .icon {
  position: absolute;
  top: 5px;
  left: -75px;
  width: 42px;
  height: 42px;
}
article.photo .icon {
  background: url(http://assets.javierarce.com/img/photo.png) no-repeat;
}
article.photo > a {
  display: block;
}
article.link .icon {
  background: url(http://assets.javierarce.com/img/link.png) no-repeat;
}
article.quote .icon {
  background: url(http://assets.javierarce.com/img/quote.png) no-repeat;
}
pre {
  font-size: 10px
}
a {
  font-weight: bold;
  color: #333;
  text-decoration: none;
  -webkit-transition: .2s color linear;
  -moz-transition: .2s color linear;
  transition: .2s color linear;
}
a:hover {
  color: #666
}
#credits {
  color: #666;
  font-size: 11px;
  margin: 10px 0
}
header {
  margin: 80px 0 70px 0;
  clear: both;
  overflow: hidden;
}
header nav {
  text-align: center;
}
header h1 a {
  text-transform: uppercase;
  font: bold 66px "Droid Sans","helvetica-neue","helvetica",arial,sans-serif;
  color: #333
}
header img {
  width: 200px;
  margin: 0 0 10px 0;
}

div#about {
  position: relative;
  display: none;
  margin: -55px 0 0 0;
  padding: 15px 20px;
  color: #333;
  background: #F1F1F1;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 4px;
}
div#about .inner p {
  padding: 0;
  margin: 0 0 10px 0;
  line-height: 130%;
}
div#about .inner p:last-child {
  padding: 0;
  margin: 0;
}

div#about .inner p em {
  font-style: italic;
}
div#about .inner p strong {
  font-style: bold;
}
div#about .close {
  display: block;
  color: #333;
  font-weight: normal;
  position: absolute;
  right: 10px;
  top: 5px;
}
div#about .close:before {
  content: "×";
  font-size: 12px;
}

.wrapper header h1 a:hover {
  color: #000
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header ul li {
  display: inline;
  padding: 0;
  margin: 0 7px 0 0
}
header ul li.about {
  display: inline;
}
header ul li a {
  font-weight: normal;
  font-size: 14px;
  color: #ccc;
}
header ul li a.silly {
  color: #F05658;
  text-decoration: underline;
  font-weight: bold!Important;
}
header .snitch {
  position: absolute;
  top: 40px;
  right: 10px;
}

.snitch {
  font-size: 11px;
  display: inline-block;
}
.snitch.active .track {
  color: #999;
  padding: 4px 7px;
  line-height: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
  display: none;
}
.snitch a {
  display: block;
  font-weight: normal;
  color: #999;
  text-decoration: none;
}
.snitch img {
  float: left;
  margin: 1px 5px 0 0;
}
.snitch strong {
  font-weight: bold;
  color: #999;
}
.snitch strong.newline {
  display: block;
}
.snitch.active .track:before {
  position: relative;
  top: 1px;
  float: left;
  display: block;
  content: "";
  margin-right: 5px;
  width: 12px;
  height: 12px;
  background: url(eq.gif) no-repeat;
}

h1,h2,h2 a,h3,h4,h5,h6 {
  font-family: "Droid Sans","helvetica-neue","helvetica",arial,sans-serif;
}
h1 {
  font-size: 18px;
  color: #333;
  font-weight: normal;
  margin-bottom: 0px
}
h2 {
  color: #333;
  font-weight: bold;
  margin-bottom: 0px
}
h3 {
  color: #333;
  font-weight: normal !important;
  margin-bottom: 0px
}
h4 {
  color: #333;
  font-weight: normal;
  margin-bottom: 0px
}
img {
  background: #fff !important;
  margin: 0px
}
img a {
  text-decoration: none !important;
  background: #fff !important;
  margin: 0px
}
input {
  border: 1px solid #999
}
.wrapper {
  width: 500px;
  margin: 0 auto 20px auto;
  clear: both;
}
.main {
  margin: 0px 0px 50px 0;
}
.video {
  margin-bottom: 10px
}
article {
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}
.main article:last-child {
  border: none!important;
}
article p {
  margin: 0 0 15px 0;
}
article p a {
  text-decoration: underline;
}
article strong {
  font-weight: bold;
}
article h2 {
  font-size: 16px;
  margin: 0 0 7px 0;
  color: 333;
}
article h2 a:hover {
  color: #333;
}
article h2 a {
  text-decoration: none;
  border-bottom: 3px solid #333;
  padding-bottom: 1px;
  line-height: 28px;
  text-transform: uppercase;
  display: inline;
}
article > .more {
  font-size: 13px;
  margin: 10px 0 20px 0;
}
article > .more ul {
  margin-left: 10px;
}
article > .more ul li a {
  text-decoration: underline;
  font-size: 13px;
  display: block;
}
article > .more ul li {
  margin-bottom: 10px;
  padding: 0px;
  font-size: 13px;
}
article > .more ul li:last-child {
  margin-bottom: 0;
}
article .comment {
  opacity: 0;
  position: absolute;
  width: 100px;
  left: -115px;
  bottom: 0px;
  font-family: "Droid Sans Mono","helvetica-neue","Helvetica", Arial, sans-serif;
  font-size: 10px;
  line-height: 15px;
  text-align: right;
  color: #666;
  -webkit-transition: .2s opacity linear;
  -moz-transition: .2s opacity linear;
  transition: .2s opacity linear;
}
article .comment a {
  text-decoration: underline;
  letter-spacing: -1px;
}
article:hover .comment {
  opacity: 1;
}
footer {
  font-size: 12px;
  color: #333;
  line-height: 1.8;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  display: inline;
  margin: 0 7px 0 0;
  padding: 3px 0;
  opacity: .4;
  color: #333;
  -webkit-transition: .2s opacity linear;
  -moz-transition: .2s opacity linear;
  transition: .2s opacity linear;
}
footer ul li.more {
  margin: 0 0 0 7px!important;
}
footer ul li.tag a {
  font-family: 'Lucida Grande',Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 11px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #444;
  background-color: #F8F8F8;
  border: 1px solid #AAA;
  padding: 0px 7px 1px 7px;
  min-width: 70px;
  text-align: center;
  text-decoration: none;
}
footer ul li:hover {
  opacity: 1;
  color: #333;
}
footer ul li:hover a {
  color: #333;
}
footer ul li:last-child,footer ul li.via {
  margin: 0;
}
footer ul li a {
  font-weight: normal;
  color: #333;
}
footer ul li.readlater {
  float: right;
  margin: 0;
}
footer ul li.readlater a {
  font-size: 11px;
  color: #fff;
  background: #666;
  padding: 5px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.navleft {
  font-size: 14px;
  position: relative;
  float: left
}
.navright {
  font-size: 14px;
  position: relative;
  float: right
}
.pagination {
  clear: both;
  overflow: hidden;
  margin: 10px 0 10px 0;
}
a .notes {
  text-decoration: none !important;
  background: none
}
.notes a {
  text-decoration: none !important;
  background: none
}
img .notes {
  margin: 0px;
  padding: 3px
}
.notes img {
  display: none;
  margin: 0px;
  padding: 3px
}
ol.notes {
  list-style: none;
  margin: 0;
  padding: 0
}
ol.notes li {
  font-size: 12px
}
.notes blockquote {
  padding: 0 0 0 10px;
  border-left: 1px solid #f1f1f1;
}
.regular_post_body img {
  max-width: 100%
}
.gist .gist-file {
  border: 1px solid #f1f1f1!Important;
}
.gist .gist-file .gist-data.gist-syntax .s2 {
  color: #F75757;
}
.gist .gist-meta {
  font-size: 10px;
  color: #fff!important;
  background: #F75757!Important;
  font-family: "Droid Sans","helvetica-neue","helvetica",arial,sans-serif;
}
.gist .gist-meta a {
  color: #fff!Important;
  text-decoration: underline;
}
.gist .gist-file .gist-highlight pre {
  font-size: 12px;
  font-family: "Droid Sans Mono", sans-serif!important;
}
.listening_example {
  display: inline-block;
  margin: 0 0 20px 0;
  font-size: 11px;
}
.listening_example .track {
  color: #999;
  padding: 4px 7px;
  line-height: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
  display: none;
}
.listening_example a {
  display: block;
  font-weight: normal;
  color: #999;
  text-decoration: none;
}
.listening_example img {
  float: left;
  margin: 1px 5px 0 0;
}
.listening_example strong {
  font-weight: bold;
  color: #999;
}
.listening_example strong.newline {
  display: block;
}
.margin5 {
  margin-bottom: 5px;
}
.margin10 {
  margin-bottom: 10px;
}
.margin15 {
  margin-bottom: 15px;
}
.margin20 {
  margin-bottom: 20px;
}
.margin25 {
  margin-bottom: 25px;
}
.photo a.zoom {
  position: absolute;
  display: none;
  z-index: 100;
  top: 165px;
  left: 50%;
  margin-left: -90px;
  background: #F05658;
  color: #fff;
  padding: 5px 0;
  text-align: center;
  width: 180px;
}

.photo:hover a.zoom {
  display: block;
}

small {
  font-size: 11px;
  color: #ccc;
}

.mixtape .wrapper {
  width: 640px;
  margin: 0 auto 20px auto;
  clear: both;
}

.annotation_player {
  position: relative;
  margin: 0 0 50px 0;

  .annotations {
    position: absolute;
    bottom: -43px;
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
  }

  .annotations .welcome {
    text-align: center;
    font-size: 11px;
  }
}
